# CA 4

### The purpose of this project is to learn machine learning methods with Scikit-Learn library.

# Imports

In [1]:
import numpy as np
import pandas as pd
import sklearn as sk

# Body

## Phase 0 : Data Analysis

In [2]:
df = pd.read_csv("dataset.csv")

In [3]:
df

,type,title,cast,country,release_year,listed_in,description
0,Movie,Dick Johnson Is Dead,NaN,United States,2020,Documentaries,"As her father nears the end of his life, filmm..."
1,TV Show,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,TV Show,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,TV Show,Jailbirds New Orleans,NaN,NaN,2021,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,TV Show,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...
11054,TV Show,X-Men: Evolution,"Noel Fisher, Vincent Gale, Christopher Judge, ...",United States,2000,"Action-Adventure, Animation, Kids",X-Men: Evolution features the team as teenager...
11055,TV Show,Smart Guy,"Tahj Mowry, John Jones, Jason Weaver, Essence ...",United States,1996,"Comedy, Coming of Age, Kids",A genius tries to fit in as a high school soph...
11056,TV Show,Disney Kirby Buckets,"Jacob Bertrand, Mekai Curtis, Cade Sutton, Oli...",United States,2014,"Action-Adventure, Comedy, Coming of Age",Welcome to Kirby's world! It's rude and sketchy.
11057,TV Show,Disney Mech-X4,"Nathaniel Potvin, Raymond Cham, Kamran Lucas, ...",Canada,2016,"Action-Adventure, Comedy, Science Fiction",Ryan discovers his ability to control a giant ...
11058,TV Show,Imagination Movers,"Rich Collins, Dave Poche, Scott Durbin, Scott ...",United States,2008,"Kids, Music","Rock out with the Imagination Movers, Disney J..."

### As seen above , dataset was loaded successfully.

## 1. Dataset information:

In [17]:
for title in df:
    print("In", title, "column :")
    print(df[title].describe())
    print("*"*50)

In type column :
count     11059
unique        2
top       Movie
freq       6131
Name: type, dtype: object
**************************************************
In title column :
count              11059
unique             10957
top       Sister, Sister
freq                   2
Name: title, dtype: object
**************************************************
In cast column :
count                   9694
unique                  9307
top       David Attenborough
freq                      20
Name: cast, dtype: object
**************************************************
In country column :
count              8364
unique              760
top       United States
freq               3105
Name: country, dtype: object
**************************************************
In release_year column :
count    11059.000000
mean      2014.209603
std          8.959517
min       1925.000000
25%       2013.000000
50%       2017.000000
75%       2019.000000
max       2021.000000
Name: release_year, dtype: float64
**************************************************
In listed_in column :
count                            11059
unique                             888
top       Dramas, International Movies
freq                               362
Name: listed_in, dtype: object
**************************************************
In description column :
count     11059
unique    10978
top           1
freq          9
Name: description, dtype: object
**************************************************

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11059 entries, 0 to 11058
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          11059 non-null  object
 1   title         11059 non-null  object
 2   cast          9694 non-null   object
 3   country       8364 non-null   object
 4   release_year  11059 non-null  int64
 5   listed_in     11059 non-null  object
 6   description   11059 non-null  object
dtypes: int64(1), object(6)
memory usage: 604.9+ KB

## 2. percentage of data lost:

In [72]:
for title in df:
    print("Percentage of data lost in", title, "column :")
    data_lost = df[title].isnull()
    percentage = (data_lost.sum() / data_lost.count()) * 100
    print(percentage)
    print("*"*50)

Percentage of data lost in type column :
0.0
**************************************************
Percentage of data lost in title column :
0.0
**************************************************
Percentage of data lost in cast column :
12.342888145401936
**************************************************
Percentage of data lost in country column :
24.36929197938331
**************************************************
Percentage of data lost in release_year column :
0.0
**************************************************
Percentage of data lost in listed_in column :
0.0
**************************************************
Percentage of data lost in description column :
0.0
**************************************************

## Phase 1 : Preprocess

## Phase 2 : Predict the Goal and Model Optimization

## Phase 3 : Prediction with Group Learning